@charset "UTF-8";

body{
    font-family: 'Courier New';
    font-size: small;
}

h1 , h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}